body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 

}

.header {
	
	height: 80px;

}

.header img {

	padding-top: 10px;
	padding-bottom: 12px;

}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:15px 15px 0px 15px;
  color:#0C0C0C;
  border:0;
  font-size:1.6em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#ffffff;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#f1f1f1; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* video css to edit - start */

video {
    max-width: 100%;

}

.main {
    position: relative;

}

.main .content {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: white;
    text-align: center;
    padding-top: 180px;
    background-color: rgba(255,0,0,0.1);

}

.main h1 {
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 20px;
}

.main h2 {
    font-size: 2rem;
}

.main #icon {
  padding-top: 30px;
  opacity: 0.5;

}

/* video css to edit - finish */

.about {
  display: block;
  text-align: center;
  margin: 30px 150px;
}

.about h3 {

  text-transform: uppercase;
  color: #CF6766;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.about p {
  font-size: 16px;
  padding: 10px;
  color: #30415D;
  line-height: 1.4;
}

.footer {
  height: 100px;

}

.foot-strip h6 {
  font-size: 10px;
  text-transform: capitalize;
}

.foot-strip {
  display: block;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #031424;
  color: #FBF1EF;
  text-transform: uppercase;
}

/* 768px breakpoint */

@media (min-width: 481px) and (max-width: 768px) {
  .main .content {
    padding-top: 100px;
  }

  .main h1 {
      font-size: 3rem;
    }

  .main h2 {
      font-size: 1.5rem;
  }
  .about {
    margin: 50px;
}
 }

/* 480px breakpoint */

@media screen and (max-width: 480px) {

  .main .content {
    padding-top: 60px;
  }

  .main h1 {
      font-size: 2rem;
    }

  .main h2 {
      font-size: 1.3rem;
  }

  .about {
    margin: 30px;
}

}